.image {
  width: 100%;
  height: auto;
  margin-top: 5px;
}

.container {
  margin: 30px;
  text-align: center;
}

.icon {
  color: #3213e2
}

.link, .link:visited {
  color: #1E90FF;
}

.link:hover {
  color: #00008B;
}